---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Solutions from '../components/Solutions.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="IA-Médecin — Technologies IA pour les médecins">
  <Navbar />
  <main>
    <Hero />
    <Solutions />
    <Faq />
  </main>
  <Footer />
</Layout>
